@charset "utf-8";

/* 헤더 영역 */
#hamburger{
    display: none;
}

.header-area{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 999;
    padding: 16px 120px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.header-area .header-logo{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 138px;
    height: 67px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.header-area .main-menu{
    margin: 0 auto;
    text-align: center;
}
.header-area .icon-box{
    fill: #130F0E;
    opacity: 0.6;
}
.header-area .main-menu,
.header-area .icon-box{
    display: flex;
}
.header-area .main-menu .menu,
.header-area .icon-box .icon{
    margin: 0 20px;
    opacity: .6;
    transition: 0.5s;
    display: inline-block;
}
.header-area .icon-box .icon input[type="search"]{
    width: 110px;
    height: 30px;
    border: 2px solid #130F0E;
    border-radius: 30px;
    background: url(../img/search.svg) no-repeat center left 1px;
    padding-left: 25px;
}
.header-area .main-menu .menu:hover,
.header-area .icon-box .icon:hover{
    opacity: 1;
}

/* 서브메뉴박스 */

.sub-txt-box{
    position: fixed;
    width: 150px;
    height: 500px;
    background-color: #ffffffa6;
    text-align: center;
    border-radius: 30px;
    margin-left: -20px;

    display: none;
}
.box2{
    margin-left: -40px;
}
.sub-txt-box li{
    margin: 20px auto;
    color: #130F0E;
    opacity: 0.7;
    cursor: pointer;
}
.box1.active{
    display: block;
}
.box2.active{
    display: block;
}
.box3.active{
    display: block;
}
.box4.active{
    display: block;
}

/* 배너영역 */
.main-banner{
    height: 100vh;
}
.banner{
    position: relative;
    top: 10%;
    left: 0;
    display: flex;
    width: 1544px;
    height: 800px;
}
.banner .banner-box{
    cursor: pointer;
}
.banner-box .banner-box1{
    background: url(../img/background1.jpg) no-repeat center;
    background-size: cover;
}
.banner-box .banner-box2{
    background: url(../img/background2.jpg) no-repeat center;
    background-size: cover;
}
.banner-box .banner-box3{
    background: url(../img/background3.jpg) no-repeat center;
    background-size: cover;
}
.banner-box .banner-box4{
    background: url(../img/background4.jpg) no-repeat center;
    background-size: cover;
}
.banner-box .banner-box5{
    background: url(../img/background5.jpg) no-repeat center;
    background-size: cover;
}
.banner-box .banner-box6{
    background: url(../img/background6.jpg) no-repeat center;
    background-size: cover;
}
.banner-box .banner-box7{
    background: url(../img/background7.jpg) no-repeat center;
    background-size: cover;
}

.banner .banner-box .banner-txt{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 2rem;
    color: #F3F0EE;
    opacity: .9;
}
.banner .banner-box .banner-img{
    position: absolute;
    top: 0;
    left: 60%;
    height: 100%;
    width: 466.67px;
}
.banner .banner-box .banner-txt h2{
    font-family: "Bigilla";
    margin-bottom: 15px;
}
.banner .banner-box .banner-txt p{
    font-weight: 400;
}

/* sec-1 */
.sec-1{
    height: 1450px;
}
.sec-1-txt{
    position: relative;
    width: 870px;
    height: 365px;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 80px;
    font-size: 1.5rem;
    margin: 0 auto;
}
.sec-1-txt h2{
    margin-bottom: 60px;
}
.sec-1-txt p{
    font-size: 18px;
    line-height: 1.3;
}
.container-imgbox{
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sec-1-img{
    width: 830px;
}

/* sec-2 */
.sec-2{
    height: 100vh;
}
.sec-2 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0 140px;
}
.sec-2-imgbox{
    width: 600px;
    height: 791px;
    border-radius: 30px; 
    overflow: hidden;
    transform: rotate(7.37deg);
}
.sec-2-txt{
    color: #130F0E;
    opacity: 0.8;
}
.sec-2-main-txt{
    background-color: #d9d3d3a1;
    width: 400px;
    height: 52px;
    margin-bottom: 200px;
}
.sec-2-txt h2{
    font-family: "TT Knickerbockers Grotesk Trial";
    font-size: 2.5rem;
    text-align: center;
}
.sec-2-txt p{
    font-family: "pretendard";
    font-size: 1.45rem;
}
.btn{
    width: 30px;
    height: 30px;
    background-color: #130F0E;
    position: absolute;
    border-radius: 50%;
    top: 95%;
    transform: translateY(-40%);
    right: 50%;
    cursor: pointer;
}
/* sec-3 */
.sec-3{
    height: 1500px;
}
.sec-3 .container{
    width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.sec-3-txtbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}
.sec-3-content1{
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    margin-left: 100px;
}
.sec-3-content2{
    margin-top: 200px;
}
.sec-3-img{
    width: 287.13px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    cursor: pointer;
}
.sec-3-imgbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-3-box1{
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}
.sec-3-box2{
    margin-top: 170px;
}
/* sec-4 */
.sec-4{
    display: flex;
    justify-content: center;
    height: 1900px;
}
.sec-4 .container{
    width: 1408px;
    height: 100vh;
}
.sec-4-box .sec-4-img{
    width: 330px;
    height: 430px;
    margin-right: 22px;
    cursor: pointer;
}
.sec-4-box .sec-4-img:nth-child(4n){
    margin-right: -22px;
}
.sec-4-main-box1,
.sec-4-main-box2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-4 .container h2{
    margin: 200px 0 50px 0;
}
.sec-4-txt{
    font-size: 1.3rem;
}
.sec-4-txt h4{
    margin: 80px 0 20px 0;
}
.sec-4-box .f_box{
    transform: translate(0, -100%);
    opacity: 0;
    transition: 0.8s;
}
.sec-4-img:hover .f_box{
    opacity: 1;
}
/* sec-5 */
.sec-5-txt{
    font-size: 2rem;
    padding: 100px 0 100px 60px;
}
.sec-5-box{
    width: 1485px;
    height: 882px;
    margin: 0 auto;
    padding-bottom: 100px;
}

/* footer */

footer{
    background-color: #b4b4b3;
    width: 100vw;
    height: 450px;
    margin: 0 auto;
    text-transform: uppercase;
}
.footer-1 h3{
    font-size: 1.25rem;
    font-weight: 700;
    color: #130F0E;
    margin-bottom: 100px;
}
.f-txt1, .f-txt2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.f-txt2{
    padding-bottom: 40px;
}
footer p{
    font-size: 0.75rem;
    font-weight: 500;
    color: #130F0E;
    opacity: .8;
    margin-right: 60px;
}
.footer-1{
    padding: 60px 0px 30px 120px;
}
.footer-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
}
.f-txt3, .f-txt4, .f-b-iconbox{
    padding-bottom: 30px;
}
.f-b-iconbox{
    display: flex;
    align-items: center;
}
.f-b-icon{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

/* 미디어쿼리 */
@media(max-width: 1800px){
    .banner{
        width: 1450px;
        height: 700px;
    }

    .sec-1-img{
        width: 780px;
        height: 800px;
    }
    .sec-1-txt{
        font-size: 1.25rem;
    }

    .sec-4-box .sec-4-img{
        width: 300px;
        height: 400px;
    }

    .sec-5-txt{
        font-size: 1.75rem;
    }
    .sec-5-box{
        width: 1400px;
        height: 800px;
    }
}

@media(max-width: 1480px){
    .header-area .main-menu{
        display: none;
    }
    .header-area .icon-box{
        display: none;
    }
    #hamburger{
        display: block;
        position: relative;
        width: 20px;
        height: 20px;
        z-index: 999;
        margin: 0 auto;
        left: 55%;
    }
    #hamburger span{
        position: absolute;
        top: 5px;
        left: 10px;
        width: 30px;
        height: 2px;
        background-color: #130F0E;
        opacity: 0.6;
        transition: 0.5s;
    }
    #hamburger span:nth-child(1){
        top: 0;
        left: 0;
    }
    #hamburger span:nth-child(2){
        top: 10px;
        left: 0;
    }
    #hamburger span:nth-child(3){
        top: 20px;
        left: 0;
    }
    #hamburger span.active{
        background-color: #262320;
    }
    #hamburger.active span:nth-child(1){
        transform: rotate(-45deg);
    }
    #hamburger.active span:nth-child(2){
        opacity: 0;
    }
    #hamburger.active span:nth-child(3){
        transform: rotate(45deg);
        top: 0;
    }

    /* .header-area .icon-box.active{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 70px;
    }
    .header-area .icon-box.active .icon input{
        display: none;
    } */
    .main-menu.active{
        display: block;
        width: 100%;
        height: 100vh;
        background-color: #ffffffc9;
        position: fixed;
        top: 0%;
        left: 0;
        font-size: 2.5rem;
        margin-top: 150px;
    }
    .main-menu.active li{
        margin-bottom: 30px;
    }
    .main-menu.active .sub-txt-box{
        display: none;
    }
    .banner{
        width: 1000px;
        height: 600px;
    }
    .banner .banner-box .banner-txt{
        font-size: 1rem;
        color: #F3F0EE;
        opacity: .9;
    }
    .swiper-button-next:after, .swiper-button-prev:after{
        color: #5f5958;
        font-size: 15px !important;
    }
    
    .sec-1-txt{
        font-size: 0.75rem;
        margin: 0 auto;
    }

    .sec-2 .container{
        display: block;
        height: 100vh;
    }
    .sec-2-imgbox{
        width: 600px;
        height: 791px;
        border-radius: 30px; 
        overflow: hidden;
        transform: rotate(0deg);
        margin: 0 auto;
    }
    .sec-2-txt h2{
        font-size: 2rem;
    }
    .sec-2-txt p{
        display: none;
    }
    .sec-2-main-txt{
        background-color: #d9d3d3a1;
        width: 300px;
        height: 32px;
        margin: 0 auto;
    }
    .sec-2-main-txt{
        background-color: #fff;
        width: 400px;
        height: 52px;
        margin-top: 10px;
    }

    .sec-3 .container{
        width: 1300px;
    }
    .sec-3-txtbox{
        display: block;
    }
    .sec-3-content2{
        margin-top: 100px;
    }
    .sec-3-img{
        width: 230px;
        height: 350px;
        overflow: hidden;
        border-radius: 30px 30px 0 0;
        cursor: pointer;
        margin-right: 200px;
    }
    .sec-3-txt3{
        display: none;
    }
    .sec-3-box1{
        height: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .sec-3-box2{
        display: none;
    }

    .sec-4 .container h2{
        margin: 100px 0px 30px 40px;
    }
    .sec-4-box .sec-4-img{
        width: 200px;
        height: 300px;
    }
    .sec-4-txt{
        font-size: 1rem;
    }

    .sec-5-txt{
        font-size: 1rem;
        padding: 80px 0 80px 40px;
    }
    .sec-5-box{
        width: 1000px;
        height: 700px;
        margin: 0 auto;
        padding-bottom: 100px;
    }
}

@media (max-width: 1050px){
    #hamburger{
        left: 60%;
    }

    .banner{
        width: 700px;
        height: 500px;
    }
    .banner .banner-box .banner-img{
        position: absolute;
        top: 0;
        left: 60%;
        height: 100%;
        width: 300px;
    }

    
    .sec-2-imgbox{
        width: 400px;
        height: 650px;
        border-radius: 30px; 
        overflow: hidden;
        transform: rotate(0deg);
        margin: 0 auto;
    }
    .sec-2-txt h2{
        font-size: 1.5rem;
    }

    .sec-3 .container{
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        
    }
    .sec-3-content1{
        height: 600px;
        margin: 0 auto;
    }
    .sec-3-txtbox{
        margin-right: 20px;
    }
    .sec-3-box1{
        height: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec-3-img{
        margin-bottom: 20px;
    }
    .btn{
        display: none;
    }
    .sec-4{
        height: 2300px;
    }
    .sec-4 .container{
        padding: 0;
    }
    .sec-4-main-box1,
    .sec-4-main-box2{
        width: calc(100% - 1px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
    }
    .sec-4-box .sec-4-img{
        width: 250px;
        height: 400px;
    }
    .sec-4-txt{
        font-size: 1.3rem;
        margin-bottom: 20px;
    }
    .sec-4-txt h4{
        display: none;
    }

    .sec-5-box{
        width: 750px;
        height: 650px;
    }
}

@media (max-width: 760px){
    .banner{
        width: 500px;
        height: 500px;
    }
    .banner .banner-box .banner-img{
        display: none;
    }
    .banner .banner-box .banner-txt{
        top: 70%;
        left: 10%;
        font-size: 1.5rem;
    }

    .sec-1-txt{
        font-size: 0.5rem;
        left: -10%;
    }

    .container-imgbox .sec-1-img:last-child{
        display: none;
    }
    .sec-5-box{
        width: 500px;
        height: 400px;
    }

    .f-b-icon{
        width: 20px;
        height: 20px;
        margin-right: 20px;
    }
    footer p{
        font-size: 0.5rem;
    }
    .footer-1 h3{
        font-size: 1rem;
    }
}

@media (max-width: 560px){
    .sec-2-imgbox{
        width: 300px;
        height: 450px;
    }
    .sec-2-txt h2{
        display: none;
    }

    .sec-3{
        display: none;
    }

    .sec-4-main-box2{
        display: none;
    }
}